* {
    padding:0;
    margin:0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: large;
}
.navbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap:20px;
    padding: 20px;
    background-color:rgb(56, 127, 194);
    color: white;

}

.search{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
#search_bar {
    width: 70vw;
    padding: 5px 15px;
    border-radius: 5px;
} 

#search_bar:focus::placeholder {
    color: transparent;
  }


.fa-magnifying-glass:hover {
    opacity: 0.6;
    cursor:pointer;
}

.fa-plus:hover {
    opacity: 0.6;
    cursor:pointer;
}

.fa-minus:hover {
    opacity: 0.6;
    cursor:pointer;
}

#add_items_bar {
    /* display: flex;
    justify-content: center;
    gap: 30px;
    padding:10px 20px 20px 20px; */
    background-color:rgb(56, 127, 194);
    color: white;
}
#add_items_bar h3 {
    display:flex;
    justify-content: center;
    padding: 10px;
}
.item_input_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding:10px 20px 20px 20px;
    background-color:rgb(56, 127, 194);
    color: white;
}

#add_items_bar label {
    padding: 0 6px;
}
#add_title {
    padding: 3px 6px;
}

#add_title:focus::placeholder {
    color: transparent;
  }

#add_image {
    padding: 3px 6px;
}

#add_image:focus::placeholder {
    color: transparent;
  }

#add_item_button {
    padding: 3px 10px;
    border-radius: 5px;
}

.content {
    padding: 50px 40px;
}
#object_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

.item_container {
    height: 250px;
    width: 300px;
    position: relative;
}

.item_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 5px 25px;
    /* border: solid #999 1px; */
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.item_img {
    height: 250px;
}
.item_text {
    background-color: rgb(56, 127, 194);
    color: white;
    display: grid;
    grid-template-areas: "title name name edit edit";
    justify-content: space-between;
    /* border: solid #999 1px; */
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    
}

.item_title {
    grid-area: title;
    font-weight: bold;
}

.item_name {
    color: white;
    grid-area: name;
    width: 130px;
    border: none;
    background-color: rgb(56, 127, 194);
    pointer-events: none; 
}

 /* .item_name:focus {
    outline: none;

}  */

.fa-trash {
    position: absolute;
    top: 14px;
    right: 14px;
    color: white;
    
}

.fa-trash:hover {
    opacity: 0.6;
    cursor:pointer;
}

.fa-pen-to-square {
    grid-area: edit;
    justify-self: right;
}

.fa-pen-to-square:hover {
    opacity: 0.6;
    cursor:pointer;
}

.fa-xmark:hover {
    opacity: 0.6;
    cursor:pointer;
}

.fa-check:hover {
    opacity: 0.6;
    cursor:pointer;
}